body {
  font-family: 'Montserrat', sans-serif;
}

.logo img {
  width: 70%;
}

ul li {
  transition: all .2s ease-in-out;
}

ul li:hover {
  transform: scale(1.1);
}

.blue {
  color: #32646b;
}

@media only screen and (min-width: 45em) {

  .logo img {
    width: 50%;
  }

}
